// Typography
$teco-font-family: '';

// Colors
$teco-white: #FFFFFF;
$teco-background-color: #F4F5F7;
$teco-primary-blue: #005FAA;

$teco-light-blue: #E6EFF7;
$teco-baby-blue: #B1DBFD;

$teco-midnigh-blue: #00294A;
$teco-sky-blue: #00B6F0;
$teco-ocean-blue: #5eb0f4;

$teco-yellow: #FFDC00;
$teco-green: #24A148;
$teco-red: #DA1E28;

$teco-yellow-shade:rgba(255, 210, 0, 0.15);

