// Typography
$teco-font-family: 'Interstate';
$teco-header1: 32px;

$teco-font-size-xxs: 12px;
$teco-font-size-xs: 14px;
$teco-font-size-smaller: 16px;
$teco-font-size-small: 18px;
$teco-font-size-regular: 20px;
$teco-font-size-large: 24px;
$teco-font-size-larger: 36px;
$teco-font-size-xl: 52px;
$teco-font-size-xxl:82px;


// Colors
$teco-white: #FFFFFF;
$teco-background-color: #F4F5F7;
$teco-primary-blue: #005FAA;

$teco-light-gray:#EAECEE;
$teco-light-blue: #E6EFF7;
$teco-baby-blue: #B1DBFD;

$teco-midnight-blue: #00294A;
$teco-sky-blue: #00B6F0;
$teco-ocean-blue: #5eb0f4;

$teco-yellow: #FFDC00;
$teco-orange: #FF832B;
$teco-green: #24A148;
$teco-red: #DA1E28;
$teco-dark-grey: #6C6C6C;

$teco-yellow-shade:rgba(255, 210, 0, 0.15);
$teco-red-shade:rgba(218, 30, 40, 0.03);



