.tecoLayout {
    .btn-default {
        color: $teco-primary-blue;
    }
    .btn-primary {
        background-color: $teco-primary-blue !important;
    }
    .btn:focus {
        outline: none !important;
    }
}