.tecoLayout {
    .btn-default {
        color: #005FAA;
    }
    .btn-primary {
        background-color: #005FAA !important;
    }
    .btn:focus {
        outline: none !important;
    }
}