@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_Hairline.ttf") format("truetype");
    font-weight: 50;
    font-style: normal;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_Hairline_Italic.ttf") format("truetype");
    font-weight: 50;
    font-style: italic;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_Thin_Italic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_ExLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_ExLight_Italic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_Light_Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_Bold_Italic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_Black.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_Black_Italic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_UltraBlack.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Interstate";
    src: url("https://tecocdn.azureedge.net/files/fonts/Interstate_UltraBlack_Italic.ttf");
    font-weight: 900;
    font-style: italic;
}

* {
    font-family: "Interstate";
}

.enable {
    color: white;
    background-color: #005faa;
    width: 145px;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}


.enable:hover {
    background-color: #145093;
    /* darker */
}

.enable:active {
    background-color: #004083;
    /* darker */
}

.disable {
    color: #adb3c0;
    background-color: #fff;
    width: 145px;
    border: 2px solid #adb3c0;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: none;
}


.teco-btn-unfill {
    color: white;
    background-color: #005faa;
    width: 145px;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}