@import "../../base/teco_custom.scss";
@import "../../base/tecoVariables.scss";
@import "../../base/fonts.scss";
@import "../../base/globals.scss";

.tecoLayout {

    .tecoSummaryBilling {

        .tecoSummaryBillingInfo {

            gap: 10px;
            .tecoSummaryBillingDesc {
                gap: 5px;
                justify-content: space-between;
                margin: 0;
            }
        }

    }
}