.tecoLayout {

    .tecoSummaryBilling {

        .tecoSummaryBillingInfo {

            gap: 10px;
            .tecoSummaryBillingDesc {
                gap: 5px;
                justify-content: space-between;
                margin: 0;
            }
        }

    }
}